{% extends 'mainapp/base.html' %}
    {% block body %}
    
    <div class="container-fluid col-8"> 
        <div class="row justify-content-center">
        {% if not gift_list %}
            <div class='container-fluid border p-5 neu-shadow mt-5 d-flex justify-content-center custom-width'>
                <div class=''>
                    <h1 style='color: red;' class="text-center col-12 mt-5 holiday-font text-center" >Welcome to Santa's Bag, {{user.username}}!</h1>
                    <h2 style='color: dodgerblue;' class="text-center col-12 mt-5 holiday-font text-center" >You haven't added any gifts to your bag yet. Please Select the button below to add your first gift: </h2>
                    <a href="{% url 'mainapp:create_item' %}" class="mt-5 col-12 btn btn-outline-success">Add Gift</a>
                </div>
            </div>
        {% else %}
            {% for item in gift_list %}
            <div class="mt-5 col d-flex align-items-stretch custom-margin-btn">
                <div class="card mx-auto background-color-card border-0 align-items-center" style="width: 15rem;">
                    <img class="card-img-top" src="pictures/red-ribbon.png" alt="There is a red bow on top of the card with gift name and recipient name info, making it look more like a present than just a card with some info." style="width:8rem; margin-bottom: -42px;">
                    <div class="card mx-auto neu-shadow" style="width: 15rem;">
                        <div class="card-body text-center d-flex flex-column reg-img">
                            <h4 class= "card-title">{{ item.gift_name|capfirst }}</h4>
                            <h5 class="card-body">for {{ item.recipient|capfirst }}</h5>
                            <a href="{% url 'mainapp:details' item.id %}" class="btn neu-shadow-inset">Details</a>                    
                        </div>
                    </div>
                </div>
            </div>               
            {% endfor %}

            
            {% endif %}
        </div>   
        <nav>
            <ul class="pagination justify-content-center mt-5">
              {% if gift_list.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ gift_list.previous_page_number }}">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">&laquo;</a>
                </li>
              {% endif %}
              {% for i in gift_list.paginator.page_range %}
                {% if gift_list.number == i %}
                  <li class="page-item active" aria-current="page">
                    <span class="page-link">
                      {{ i }}
                      <span class="sr-only">(current)</span>
                    </span>
                  </li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if gift_list.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ gift_list.next_page_number }}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          </nav>
    </div>   
    {% endblock %}